<main class="container">
  <h1 class="home-title">A blazing fast movie sharer built with Hotwire</h1>
  <% if user_signed_in? %>
    <%= link_to "View movies", "/movies", class: "btn btn--dark" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn--dark" %>
  <% end %>
</main>
