<main class="container">
  <h1 class="home-title">A blazing fast Youtube video sharer built with <%= link_to "Hotwired", "https://hotwired.dev/", target: "_blank" %></h1>
  <div class="home-action">
    <% if user_signed_in? %>
      <%= link_to "View movies", "/movies", class: "btn btn--dark" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn--dark" %>
    <% end %>
  </div>
</main>
