.menu {
  position: fixed;
  padding: 25px 0;
  width: 100%;
  border-bottom: solid 1px rgba(41, 41, 41, 1);
  background-color: white;

  .content {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin: 0 48px;
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
  }

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
