<div class="menu">
  <%= link_to "Funny Movies", "/", class: "menu__title" %>
  <% if user_signed_in? %>
    <div class="menu__name">
      <%= current_user.name %>
    </div>
    <%= button_to "Sign out",
                  destroy_user_session_path,
                  method: :delete,
                  class: "btn btn--dark" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn--dark menu__right" %>
  <% end %>
</div>
